<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
	
	<extensions>
		<add assembly="NLog.DiagnosticSource"/>
	</extensions>
	
  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
	  <target name="fileAsync" xsi:type="AsyncWrapper">
	    <target name="file" xsi:type="File"
              layout=
"==================================${newline}
HostName=${hostname}${newline}
Local-ip=${local-ip}${newline}
Callsite=${callsite:className=true:methodName=true}${newline}
Threadid=${threadid}${newline}
Message=${message}${newline}${newline}
-----------------------------------${newline}
Id=${activity:property=Id}${newline}
SpanId=${activity:property=SpanId}${newline}
ParentId=${activity:property=ParentId}${newline}
TraceId=${activity:property=TraceId}${newline}
OperationName=${activity:property=OperationName}${newline}
StartTimeUtc=${activity:property=StartTimeUtc}${newline}
Duration=${activity:property=Duration}${newline}
DurationMs=${activity:property=DurationMs}${newline}
Baggage=${activity:property=Baggage}${newline}
Tags=${activity:property=Tags}${newline}
CustomProperty=${activity:property=CustomProperty}${newline}
Events=${activity:property=Events}${newline}
TraceState=${activity:property=TraceState}${newline}
TraceFlags=${activity:property=TraceFlags}${newline}
SourceName=${activity:property=SourceName}${newline}
SourceVersion=${activity:property=SourceVersion}${newline}
ActivityKind=${activity:property=ActivityKind}${newline}
DurationMs=${activity:property=DurationMs}${newline}"
              fileName="${basedir}/logs/AppLog.txt"
              maxArchiveFiles="4"
              archiveAboveSize="10240" 
	    	  createDirs="true" />
	  </target>
	  <target name="consoleAsync" xsi:type="AsyncWrapper">
	    <target name="console" xsi:type="console" 
	 	  layout="${message}${newline}Id=${activity:property=Id}${newline}ParentId=${activity:property=ParentId}${newline}TraceId=${activity:property=TraceId}${newline}StartTimeUtc=${activity:property=StartTimeUtc}${newline}Duration=${activity:property=Duration}${newline}DurationMs=${activity:property=DurationMs}" />
	  </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
	  <logger minLevel="Info" writeTo="consoleAsync" />
	  <logger name="*" minLevel="Info" writeTo="fileAsync" />
  </rules>
</nlog>
